---
- name: Install latest dependencies on Ubuntu machines
  hosts: all
  become: yes

  tasks:
    - name: Update apt cache and upgrade all packages
      apt:
        update_cache: yes
        upgrade: dist

    - name: Install essential packages
      apt:
        name:
          - build-essential
          - curl
          - wget
          - git
          - vim
          - python3
          - python3-pip
          - python3-venv
          - openjdk-11-jdk
          - htop
          - unzip
          - net-tools
        state: latest
        update_cache: yes

    - name: Install Node.js (from nodesource)
      shell: curl -fsSL https://deb.nodesource.com/setup_22.x | bash -
      args:
        executable: /bin/bash

    - name: Install nodejs package
      apt:
        name: nodejs
        state: latest
        update_cache: yes

    - name: Install Docker prerequisites
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: latest
        update_cache: yes

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable
        state: present
        filename: docker

    - name: Install docker packages
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: latest
        update_cache: yes
